@page
@model IndexModel
@using CowboyCafe.Data
@{
    ViewData["Title"] = "Home page";
    // throw new Exception();
}

<div class="text-center">
    <h1 class="display-4">Cowboy Cafe</h1>
    <i>
        We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. 
        Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas.
        Dip your Pan de Campo into a bowl of beans.
        Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so take it easy with us.
    </i>
</div>

<h2>Entrees</h2>
    <ul>
        @foreach (Entree entree in Menu.EntreeList)
        {
            <li>
                <div class="menu-item">
                    <h3>@entree</h3>
                </div>
            </li>
        }
    </ul>

<h2>Sides</h2>
<ul>
    @foreach(Side side in Menu.SidesList)
    {
        <li>
            <div class="menu-item">
                <h3>@side</h3>
                <h4>Calories (Small): @side.Calories</h4>
                <h4>Calories (@(side.Size = Size.Medium)): @side.Calories</h4>
                <h4>Calories (@(side.Size = Size.Large)): @side.Calories</h4>
            </div>
        </li>
    }
</ul>

<h2>Drinks</h2>
<ul>
    @foreach(Drink drink in Menu.DrinksList)
    {
        <li>
            <div class="menu-item">
                <h3>@drink</h3>
            </div>
        </li>
    }
</ul>